@import "tailwindcss";

@theme {
  --color-primary: #3c3cfb;
  /* Primary color blue */
  --color-secondary: #ff2791;
  /* Primary color pink */
  --color-navyblue: #060653;
  /* Primary color navyblue */
  --color-cetacean-blue: #00003d;
  /* Primary color for text */
  --color-gray: #4d4d4d;
  --color-light: #f8f9fa;
  --text-font12: 12px;
  --text-font14: 14px;
  --text-font16: 16px;
  --text-font20: 20px;
  --text-font24: 24px;
  --text-font28: 28px;
  --text-font40: 40px;
  --breakpoint-nav: 1252px;
}

.active-card {
  opacity: 1 !important;
  transform: translateY(0) !important;
  z-index: 10;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
}